<article style="background-color: {{ star.color }}">
    <h2>{{ star.title }}</h2>
    <img src="{{ star.image }}" alt="image">
    <p>publié le : {{ star.publishedDate|date("d/m/Y") }}</p>
</article>