{% include '_header.html.twig' %}

<body>
    {% if star.published %}
        {% include '_article.html.twig' %}
    {% else %}
        <p>L'article n'est pas encore publié</p>
    {% endif %}
</body>

{% include '_footer.html.twig' %}