{% include '_header.html.twig' %}

<body>
    {% for star in stars %}
        {% if star.published %}
            <a href="{{ path('category', {'id' : star.id }) }}">{% include '_article.html.twig' %}</a>
        {% else %}
            <p>Cette catégorie n'est pas encore publiée</p>
        {% endif %}
    {% endfor %}
</body>

{% include '_footer.html.twig' %}