{% include '_header.html.twig' %}

<body>
    {% for star in stars %}
        {% if star.published %}
            {% include '_article.html.twig' %}
        {% else %}
            <p>Cette catégorie n'est pas encore publiée</p>
        {% endif %}
    {% endfor %}
</body>

{% include '_footer.html.twig' %}